@import "node_modules/pixel-borders/src/styles/pixel-borders.scss";

.message-box{
    width: 250px;
}

.nav-container{
    background: #d93876;
    text-align: center;
    padding: 5px 0;
    position: relative;
    box-shadow: 8px 4px 4px black;

}
.searchfield {
    margin: 0;
    padding:10px;
    display: flex;
}
.links{
    text-decoration: none;
    font-family: 'VT323', monospace;
    font-size: 40px;
    letter-spacing: 6px;
       
} 
ul {
    list-style-type: none;
}
